[submodule "lib/q"]
	path = lib/q
	url = https://github.com/recursinging/q.git
[submodule "lib/kxmx_bluemchen"]
	path = lib/kxmx_bluemchen
	url = https://github.com/recursinging/kxmx_bluemchen.git
[submodule "lib/libDaisy"]
	path = lib/libDaisy
	url = https://github.com/recursinging/libDaisy.git
[submodule "lib/DaisySP"]
	path = lib/DaisySP
	url = https://github.com/recursinging/DaisySP.git
